<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>{% if title %}{{ title }} - {% endif %}Ralph Hawkins</title>
</head>
<body>
  <header>
    <div class="container">
      <h1>
        Ralph Hawkins
      </h1>
      <p>
        I’m a service designer who works in the public sector,
        currently with NHS England helping people stay healthy.
      </p>
    </div>
  </header>
  <main>
    <div class="container">
      {{ content | safe }}
    </div>
  </main>
    {% include "footer.njk" %}
    <script src="/js/scroll-effects.js"></script>
</body>
</html>
