<footer>
  <div class="container">
    {% if collections.weeknotes.length > 1 %}
      <h2>All notes</h2>
      <ul>
        {% for post in collections.weeknotes | reverse %}
          <li>
            {% if post.url == page.url %}
              {{ post.data.title }}<p class="small">{{ post.date | dateFormat }}</p>
            {% else %}
              <a href="{{ post.url }}">{{ post.data.title }}</a> <p class="small">{{ post.date | dateFormat }}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <h2>Contact</h2>
    <ul>
      <li><a href="mailto:info@ralphhawkins.co.uk">info@ralphhawkins.co.uk</a></li>
      <li><a href="https://bsky.app/profile/ralphhawkins.bsky.social">Bluesky</a></li>
      <li><a href="https://www.linkedin.com/in/ralph-hawkins-624ba893/">LinkedIn</a></li>
    </ul>
  </div>
</footer>
