---
layout: base
---

<article>
  <hr>
  {% set postNumber = collections.publicWeeknotes | getPostNumber(page) %}
  <div class="post-header">
    <div class="date post-meta">
      {% if postNumber %}
        <p class="post-meta-count">Week note {{ postNumber }}</p>
      {% endif %}
      <p class="post-meta-date">{{ date | dateFormat }}</p>
    </div>
    <h2>{{ title }}</h2>
    {% if description %}
      <p class="post-description">{{ description }}</p>
    {% endif %}
  </div>
  <hr>
  <div class="post-content">
    {{ content | safe }}
  </div>
  <hr>
</article>
