.container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 calc(var(--side-padding) + 1.5em);
  width: 100%;
}

.date p {
  line-height: 1rem;
}

.post-content {
  padding-bottom: var(--spacing-xl);
}

header {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

main {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  padding: var(--spacing-xl) 0;
}

.figure {
  margin: 1.5rem 0;
}

.figure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.figure-caption {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
