
body {
  font-size: var(--body-size, var(--font-size-base));
  line-height: var(--line-height-base);
  background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
  font-weight: 600;
  margin-bottom: var(--spacing-m);
}

h1 {
  font-size: var(--h1-size, 4.5rem);
  line-height: 0.8;
  padding-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  font-weight: bold;
}

h2 {
  font-size: var(--h2-size, 2.28rem);
  line-height: var(--h2-lh, 1.25);
  padding-top: var(--spacing-xl);
}

.date + h2 {
  padding-top: 0px;
}


h3 {
  font-size: var(--h3-size, 1.68rem);
  line-height: var(--h3-lh, 1.25);
  padding-top: var(--spacing-l);
}

h4 {
  font-size: var(--h4-size, 1.56rem);
  line-height: var(--h4-lh, 1.25);
  padding-top: var(--spacing-m);
}

p {
  margin-bottom: var(--spacing-s);
  font-size: var(--body-size, var(--font-size-base));
  line-height: var(--body-lh, var(--line-height-base));
}

li, a {
  font-size: var(--body-size, var(--font-size-base));
}

ul, ol {
  margin-bottom: var(--spacing-m);
  padding-left: 1.3rem;
}

li {
  margin-bottom: var(--spacing-xs);
}

p:has(+ ul), p:has(+ ol) {
  margin-bottom: 0.3rem;
}

.post-list .date {
  font-feature-settings: "tnum"; /* Enable tabular numbers */
  font-variant-numeric: tabular-nums; /* Modern browsers support */
}

blockquote {
  border-left: 0.1rem solid var(--color-border);
  margin-left: 0px;
  padding-left: 1rem;
}
