body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
  font-weight: 600;
  margin-bottom: var(--spacing-m);
}

h2, h3, h4,
header p {
  text-wrap: balance;
}

h1 {
  font-size: 4.5rem;
  line-height: 0.8;
  padding-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  font-weight: bold;
}

h2 {
  font-size: 3.16rem;
  line-height: 0.975;
  padding-top: var(--spacing-xl);
  margin-bottom: 1lh;
}

.date + h2 {
  padding-top: 0;
}

.date:has(+ h2) p {
  margin-bottom: 0.5lh;
}

h3 {
  font-size: 2.22rem;
  line-height: 1.15;
  padding-top: var(--spacing-l);
  margin-bottom: 1lh;
}

h4 {
  font-size: 1.56rem;
  line-height: 1.325;
  padding-top: var(--spacing-m);
  margin-bottom: 1lh;
}

p {
  margin-bottom: var(--spacing-l);
}

ul, ol {
  margin-bottom: var(--spacing-m);
  padding-left: 1.3rem;
}

li {
  margin-bottom: var(--spacing-xs);
}

p:has(+ ul), p:has(+ ol) {
  margin-bottom: 0.3rem;
}

.post-list .date {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

blockquote {
  border-left: 0.1rem solid var(--color-border);
  margin-left: 0;
  padding-left: 1rem;
}
