---
layout: base
title: Page not found
description: "That page can't be found."
permalink: /404.html
eleventyExcludeFromCollections: true
---

<article>
  <hr>
  <h2>Page not found</h2>
  <p>Sorry, that page can’t be found. It may have moved, or never existed.</p>
  <p><a href="/">Read the latest week note</a>, or <a href="/notes-list/">browse all week notes</a>.</p>
  <hr>
</article>
