---
layout: base
---
{% set latestPost = collections.all | reverse | first %}

<script>
  window.location.href = "{{ site.url }}{{ latestPost.url }}";
</script>

<p>Redirecting to latest weeknotes...</p>
<p><a href="{{ site.url }}{{ latestPost.url }}">Click here if not redirected</a></p>
